.App {
  display: grid;
  grid-template-columns: 1fr;
}

#editor textarea {
  width: 100%;
  min-height: 70vh;
  padding: 1rem 0.3rem;
  border: none;
  font-size: 1.1rem;
  background-color: #232323;
  color: #b6b6b6;
}

#previewer {
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.75rem;
}

blockquote {
  border-left: 5px solid #232323;
  padding-left: 1.5rem;
}

pre {
  background-color: #232323;
  color: #b6b6b6;
}

hr {
  height: 3px;
  background-color: #232323;
}

@media (min-width : 768px) {
  .App {
    grid-template-columns: repeat(2, 1fr);
  }

  #editor textarea {
    height: 100%;
  }

  #previewer {
    padding: 0 1rem;
    margin: 0;
  }
}