.App {
  display: grid;
  grid-template-columns: 1fr;
}

#editor textarea {
  width: 100%;
  min-height: 70vh;
  padding: 1rem 0.5rem;
  border: none;
  font-family: 'Encode Sans Semi Condensed';
  font-size: 1.1rem;
  letter-spacing: 1px;
  background-color: #232323;
  color: #b6b6b6;
}

#previewer {
  padding: 1rem 0.5rem;
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.75rem;
}

blockquote {
  border-left: 5px solid #232323;
  padding-left: 1.5rem;
  font-weight: 600;
}

pre {
  background-color: #232323;
  color: #b6b6b6;
}

hr {
  height: 3px;
  background-color: #232323;
}

table {
  border-spacing: 0;
}

table td,
table th {
  padding: 2px 3px;
  border-bottom: 1px solid #232323;
  border-right: 1px solid #232323;
}

table tr:nth-child(even) {
  background-color: #fff;
}

table td:last-child,
table th:last-child {
  border-right: none
}

@media (min-width : 768px) {
  .App {
    grid-template-columns: repeat(2, 1fr);
  }

  #editor textarea {
    height: 100%;
  }

  #previewer {
    margin: 0;
  }
}